<script src="/js/bible.min.js" type="text/javascript" charset="utf-8" defer="defer"></script>
<script>(function(w){function init(){
	bibleRef.conf("Translate", "rus");
	bibleRef.conf("Target", "_blank");
	bibleRef.conf("ToolTipUse", true);
	bibleRef.conf("NoTags", []);
	bibleRef.conf("VSeparator", ":.");
	bibleRef.conf("RSeparator", ",");
	bibleRef.conf("CSeparator", ";");
}if(w.addEventListener){w.addEventListener("load",function(){init()},false);}else{w.attachEvent("onload",function(){init()});}})(window);</script>
