extends layout

block main
  h1= title
  time.timestamp(datetime=date)= moment(date).format('D MMM YYYY')
  article!= contents

block bottom
    div#disqus_thread

    script.
      //- Disqus code snippet
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//a1ip.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
