.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1
        a(href='/')
          | #{owner.name}
      p.lead
        | Blog
    nav.sidebar-nav
      a.sidebar-nav-item.active(href='/') Home
      a.sidebar-nav-item(href='/библиотека/') Библиотека
    p © 2015. All rights reserved.
