.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1
        a(href='http://phil.rigovanov.ru' target='_blank')
          | #{owner.name}
      p.lead
        | Personal blog
    nav.sidebar-nav
      a.sidebar-nav-item.active(href='/') Blog
      a.sidebar-nav-item(href='/about/') About
      a.sidebar-nav-item(href='/library/') Библиотека
    p © 2017. All rights reserved.
